body {
    padding-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
    list-style-type: none;
}


.webheadertop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: white;
    font-weight: normal;
    text-align: left;
}

A.webheadertop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: white;
    font-weight: normal;
    text-align: left;
}

A.webheadertop:Hover {
        color: #EFAE15;
        text-decoration: none;
    }


.topmenu {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

A.topmenu {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

A.topmenu:Hover {
        color: white;
        text-decoration: none;
    }

.dropdowntop {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #4a6048;
}

A.dropdowntop {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 0;

    font-weight: 600;
    text-decoration: none;
    background-color: #4a6048;
}

    A.dropdowntop:Hover {
        text-decoration: none;
    }


.menu3top {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
}

A.menu3top {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
}

A.menu3top:Hover {
        color: white;
        text-decoration: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='3' y1='12' x2='27' y2='12' stroke='%23fff' stroke-width='2'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='27' y2='6' stroke='%23fff' stroke-width='2'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='27' y2='18' stroke='%23fff' stroke-width='2'%3E%3C/line%3E%3C/svg%3E");
}

ul {
    padding: 0px 0px 0px 10px;
    border: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
    list-style-type: none;
}