body {
	*/ background-image: url("http://www.LivestockOftheworld.com/images/LOASunrisebackground.jpg");
	*/background-size: 1900px 900px;
	background-color: #fbfbfb;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-position: top;
}

input {
	text-align: right;
	border-top: 1px solid #adc7aa;
	border-left: 1px solid #adc7aa;
	border-right: 1px solid #adc7aa;
	border-bottom: 1px solid #adc7aa;
	padding: 0px 10px;
	margin: 0px;
	background: white;
	background-color: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;



}

    
li
{
   padding: 0%;
   margin: 0%;
   border: 0%;
}

.pageheight
{  background-color : white;
    height: 500px;
    width: 100%;
}

.Brown {
	background-color: #CC9966;
	color: #CC9966;
}
.DarkGreen 
{
    background-color: darkgreen;
}

.whitestripe
{  width: 1px;
   background-color: darkgreen;
   padding: 0%;
   margin: 0%;
   border: 0%;
   -ms-flex: 0 0 1px;
    flex: 0 0 1px;
    
}


.jumbotron 
{
   padding: 0%;
   margin: 0%;
   border: 0%;
}

card 
{
    border: 0;
}

.collapse
{

    padding: 0%;
   margin: 0%;
   border: 0%;
}

.container-fluid
{

    padding: 0%;
   margin: 0%;
   border: 0%;

}

.navbar-default
{

    padding: 0%;
   margin: 0%;
   border: 0%;
}

.navbar-header
{
    padding: 0%;
   margin: 0%;
   border: 0%;
 }
.nav
{
   padding: 0%;
   margin: 0%;
   border: 0%;
}


.navbar-nav
{
    padding: 0%;
   margin: 0%;
   border: 0%;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}




/***Navbar Background Color, Border Removed ,Border Radius Sqaure***/
.navbar.navbar-custom {
	background: #893333;
	border: none;
	border-radius: 0;
}
/***Link Color***/

.navbar.navbar-custom .navbar-nav > li > a {
	color: linen;
	font-weight: bold;
	font-size: 14px;
}
	/***Link Color Hover Statr***/

	.navbar.navbar-custom .navbar-nav > li > a:hover {
		color: white;
	}
/***Link Background and Color Active State***/

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
	background: #893333;
	color: white;
}
/***Navbar Brand Link Color***/

.navbar.navbar-custom .navbar-brand {
	color: white;
}
	/***Navbar Brand Link Color Hover State***/

	.navbar.navbar-custom .navbar-brand:hover {
		color: white;
	}

/***Dropdown-menu Background Color***/

	.navbar.navbar-custom .dropdown-menu {
		background: #adc7aa;
		border: none;
	}
	/***Dropdown-menu Color***/

	.navbar.navbar-custom .dropdown-menu > li > a {
		color: white;
	}



/***Toggle Button***/
.navbar.navbar-custom .navbar-header .navbar-toggle {
	border-color: green;
}

/***Collapse Borders***/

.navbar.navbar-custom .navbar-collapse {
	border: none;
}

	/***Dropdown Background Active State***/

	.navbar.navbar-custom .nav li.dropdown.open > .dropdown-toggle,
	.navbar.navbar-custom .nav li.dropdown.active > .dropdown-toggle,
	.navbar.navbar-custom .nav li.dropdown.open.active > .dropdown-toggle {
		background: #893333;
		color: white;
	}

@media (max-width: 1024px) {
	.bd-placeholder-img-lg
	font-size: 3.5rem;
	.navbar.navbar-custom li.dropdown .dropdown-menu > li > a {
		color: white;
	}
/***Dropdown-menu Color Hover and Focus State***/
		.navbar.navbar-custom li.dropdown .dropdown-menu > li > a:hover,
		.navbar.navbar-custom li.dropdown .dropdown-menu > li > a:focus {
			color: white;
			background: #893333;
		}
}




ul {
	padding: 0px 0px 0px 10px;
	border: 0px 0px 0px 10px;
	margin: 0px 0px 0px 10px;
	list-style: square;
}
li 
{
	padding: 0px 0px 0px 15px;
	border: 0px 0px 0px  15px;
	margin: 0px 0px 0px  15px;
}

P { padding: 0px 0px 5px 5px;
	margin: 0;
}

A {
	text-decoration : none;
	color : #0000AA;
}

A:HOVER {
	text-decoration : none;
	color : #333333;
}


H1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 20px;
	color: #232f3a;
	line-height: 39px;
	font-weight: normal;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
}

H2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 18px;
	color: black;
	line-height: 28px;
	font-weight: 600;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
	text-decoration: none;
	text-align: left;
}

H3 { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 18px;
	line-height: 28px;
	color: black;
	font-weight: normal;
	text-align: left;
	font-weight: 500;
}
}


A.hub {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 18px;
	color: White;
	line-height: 20px;
	font-weight: 600;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 9px;
	text-decoration: none;
	vertical-align: bottom;
}

.dropdown {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size : 12px;
	line-height: 12px;
	color: black;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

A.dropdown {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size : 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	color: #638562;
	font-weight: 600;
	text-decoration: none;
}
A.dropdown:Hover {
	color :black ;
	text-decoration : none;
}


.topwebheader {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 22px;
	color : white;
	font-weight: normal;
	text-align: left;
}

A.topwebheader {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 22px;
	color : white;
	font-weight: normal;
	text-align: left;
}
A.topwebheader:Hover {
	color : #EFAE15;
	text-decoration : none;
}

.menu {
	font-family: "ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif; 
	font-size : 12px;
	line-height: 12px;
	color: black;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

A.menu {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size : 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	color: #638562;
	font-weight: 600;
	text-decoration: none;
}
A.menu:Hover {
	color :black ;
	text-decoration : none;
}


.menu2 {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 12px;
	line-height: 25px;
	color: black;
	font-weight: normal;
	min-height: 25px;
}

A.menu2 {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif; 
	font-size : 12px;
	line-height: 25px;
	color: black;
	font-weight: 600;
	text-decoration: none;
	min-height:25px;
}
A.menu2:Hover {
	color : #404040;
	text-decoration : none;
}

.menu3 {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 19px;
	color : black;
		margin:0;
	padding:0;
	font-weight: normal;
}

A.menu3 {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 19px;
	margin:0;
	padding:0;
	color : #638562;
	font-weight: 600;
	text-decoration :none;
}
A.menu3:Hover {
	color :black ;
	text-decoration : none;
}


.JoinLOA {font-family : verdana, Arial, Helvetica, sans-serif;
   background: #EFAE15;
	font-size : 12px;
	line-height : 14px;
	color : black;
	font-weight: normal;
}

A.JoinLOA {font-family : verdana, Arial, Helvetica, sans-serif;
    background: #EFAE15;
	font-size : 12px;
	line-height : 14px;
	color : black;
	font-weight: 600;
	text-decoration :none;
}
A.JoinLOA:Hover {
	color : green ;
	text-decoration : none;
}


.Discounts {font-family : verdana, Arial, Helvetica, sans-serif;
   background: black;
	font-size : 12px;
	line-height : 14px;
	color : #EFAE15;
	font-weight: normal;
	text-align: center;
}

A.Discounts {font-family : verdana, Arial, Helvetica, sans-serif;
    background: black;
	font-size : 12px;
	line-height : 14px;
	color : #EFAE15;
	font-weight: 600;
	text-decoration :none;
	text-align: center;
}
A.Discounts:Hover {
	color : white ;
	text-decoration : none;
}

.Brokering {font-family : verdana, Arial, Helvetica, sans-serif;
   background: White;
	font-size : 12px;
	line-height : 14px;
	color : Black;
	font-weight: normal;
	text-align: center;
}

A.Brokering {font-family : verdana, Arial, Helvetica, sans-serif;
   background: White;
	font-size : 12px;
	line-height : 14px;
	color : Black;
	font-weight: normal;
	text-align: center;
}
A.Brokering:Hover {
	color : #EFAE15 ;
	text-decoration : none;
}



.menutop {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	line-height : 20px;
	color : gray;
		margin:0;
	padding:0;
	font-weight: normal;
}

A.menutop {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	line-height : 20px;
	margin:0;
	padding:0;
	color : white;
	font-weight: 600;
	text-decoration :none;
}
A.menutop:Hover {
	color: #DD441C ;
	text-decoration : none;
}

.footer {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	line-height : 14px;
	color : white;
	font-weight: normal;

}

A.footer {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	line-height : 14px;
	color : white ;
	text-decoration :none;
}
A.footer:Hover {
	color :#D37F1C ;
	text-decoration : none;
}


.Greenfooter {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	line-height : 12px;
	color : #3D6B34;
	font-weight: normal;
	text-align: left;
}

A.Greenfooter {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	line-height : 12px;
	color : #3D6B34;
	font-weight: normal;
	text-align: left;
}
A.Greenfooter:Hover {
	color : #3D6B34;
	text-decoration : none;
}

.slogan {font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 15px;
	color : #314159;
	font-weight: normal;
	text-align: center;
	font-style : italic;
}






.webheader {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 22px;
	color : #dfdfdf;
	font-weight: normal;
	text-align: left;
}

A.webheader {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 22px;
	color : #dfdfdf;
	font-weight: normal;
	text-align: left;
}
A.webheader:Hover {
	color : white;
	text-decoration : none;
}


.jumplinks {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 13px;
	line-height: 16px;
	color: #686c6d;
	font-weight: normal;
	text-align: center;
}

A.jumplinks {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 13px;
	line-height: 16px;
	color: black;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.jumplinkscell {
	width: 90px;
	height: 30px;
	background-color: #fbfbfb;
	border-top: solid 6px #fbfbfb;
	text-align: center;
}

	.jumplinkscell:hover {
		background-color: #dddddd;
		text-align: center;
		border-top: solid 6px #dddddd;
	}

.jumplinkscellCurrent {
	width: 90px;
	height: 30px;
	background-color: #fbfbfb;
	text-align: center;
	border-bottom: solid 2px #3D6B34;
	border-top: solid 6px #fbfbfb;
}

	.jumplinkscellCurrent:hover {
		background-color: #dddddd;
		border-top: solid 6px #dddddd;
		text-align: center;
		border-bottom: solid 3px #3D6B34;
	}



.navBlack {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: Black;
	font-weight: normal;
	text-align: left;
}

A.navBlack {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 18px;
	color : Black;
	font-weight: 600;
	text-decoration :none;
}
A.navBlack:Hover {
	color : #e6e6e6;
	text-decoration : none;
}

.navwhiteblack {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 18px;
	color : White;
	font-weight: normal;
	text-align: left;
}

A.navwhiteblack {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 18px;
	color : White;
	font-weight: 600;
	text-decoration :none;
}
A.navwhiteblack:Hover {
	color : Black;
	text-decoration : none;
}



.body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	line-height: 28px;
	color: black;
	font-weight: normal;
	text-align: left;
	font-weight: 400;
}

A.body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	line-height: 28px;
	color: #065906;
	font-weight: 400;
	text-decoration: none;
}
A.body:Hover {
	color : black;
	text-decoration : none;
}

.body2 {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size : 14px;
	color: black;
	font-weight: normal;
	padding: 5px 32px;
}

A.body2 {
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif; 
	font-size : 14px;
	color: #D37F1C;
	font-weight: 600;
	text-decoration: none;
	padding: 5px 32px;
}
A.body2:Hover {
	color : black;
	text-decoration : none;
}



.AnimalListname { font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 20px;
	line-height : 25px;
	color : #FFCC33;
	font-weight: normal;
	text-decoration :none;
	margin-left: 12px;
}

A.AnimalListname {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 20px;
	line-height : 25px;
	color : #FFCC33;
	font-weight: normal;
	text-decoration :none;
	margin-left: 12px;
}
A.AnimalListname:Hover {
	color : black;
	text-decoration : none;
}

.roundedtopandbottom {
	border-top: 1px solid #adc7aa;
	border-left: 1px solid #adc7aa;
	border-right: 1px solid #adc7aa;
	border-bottom: 1px solid #adc7aa;
	padding: 0px 10px;
	margin: 0px;
	background: white;
	background-color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-topleft: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 8px; /* Firefox 3.6 and earlier */
	box-shadow: 1px 1px 14px rgba(173, 199, 170, 0.8);
	align-items:left;
	align-self:left;
}

.roundedtopandbottompink {
	border-top: 1px solid pink;
	border-left: 1px solid pink;
	border-right: 1px solid pink;
	border-bottom: 1px solid pink;
	padding: 0px 10px;
	margin: 0px;
	background: white;
	background-color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-topleft: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 8px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 8px; /* Firefox 3.6 and earlier */
	box-shadow: 1px 1px 14px pink;
	align-items: left;
	align-self: left;
}

.roundedtopandbottomyellow {
	box-shadow: 5px 5px 10px #ababab;
	border-top: 0px solid #dddddd;
	border-bottom: 0px solid #dddddd;
	border-left: 1px solid #eabc69;
	border-right: 1px solid #eabc69;
	padding: 5px 10px;
	margin: 0px;
	background: #eabc69; /* mustard */
	background-color: #eabc69; /* mustard */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topleft: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 4px; /* Firefox 3.6 and earlier */
}



.regsubmit2 {
	box-shadow: 5px 5px 10px #ababab;
	border-top: 0px solid #dddddd;
	border-bottom: 0px solid #dddddd;
	border-left: 1px solid #eabc69;
	border-right: 1px solid #eabc69;
	padding: 5px 10px;
	margin: 0px;
	background: #eabc69; /* mustard */
	background-color: #eabc69; /* mustard */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topleft: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 4px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 4px; /* Firefox 3.6 and earlier */
}

.descriptionbox {
	border-top: 1px solid #adc7aa;
	border-left: 1px solid #adc7aa;
	border-right: 1px solid #adc7aa;
	border-bottom: 1px solid #adc7aa;
	padding: 5px 10px;
	margin: 0px;
	background: white;
	text-align: left;
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 14px;
	color: black;
	font-weight: normal;
	background-color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 3px; /* Firefox 3.6 and earlier */
}

.formbox {
	border-top: 1px solid #adc7aa;
	border-left: 1px solid #adc7aa;
	border-right: 1px solid #adc7aa;
	border-bottom: 1px solid #adc7aa;
	padding: 5px 10px;
	margin: 0px;
	max-height: 42px;
	background: white;
	text-align: left;
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 14px;
	color: black;
	height:42px;
	font-weight: normal;
	background-color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 3px; /* Firefox 3.6 and earlier */
}
.formbox2 {
	border-top: 1px solid #686c6d;
	border-left: 1px solid #686c6d;
	border-right: 1px solid #686c6d;
	border-bottom: 1px solid #686c6d;
	padding: 5px 5px 5px 10px;
	margin: 0px;
	line-height: 42px;
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-size: 14px;
	color: black;
	font-weight: normal;
	background: white;
	background-color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-topright: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomleft: 3px; /* Firefox 3.6 and earlier */
	-moz-border-radius-bottomright: 3px; /* Firefox 3.6 and earlier */
}

.formnumbers
{
border-top:1px solid #686c6d;
border-left:1px solid #686c6d;
border-right:1px solid #686c6d;
border-bottom:1px solid #686c6d;
padding:3px 3px; 
margin:0px;
background:white;
background-color: white ;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-topleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:3px; /* Firefox 3.6 and earlier */
}

.formnumbers2
{
border-top:1px solid #686c6d;
border-left:1px solid #686c6d;
border-right:1px solid #686c6d;
border-bottom:1px solid #686c6d;
padding:5px 5px; 
margin:0px;
background:white;
background-color: white ;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-topleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:3px; /* Firefox 3.6 and earlier */
}

.Pagebox
{
border-top:1px solid #314159;
border-left:1px solid #314159;
border-right:1px solid #314159;
border-bottom:1px solid #314159;
padding:5px 10px; 
margin:0px;
background:white;
background-color: white ;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-topleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:3px; /* Firefox 3.6 and earlier */
}

.PageboxCurrent
{
border-top:1px solid #314159;
border-left:1px solid #314159;
border-right:1px solid #314159;
border-bottom:1px solid #314159;
padding:5px 10px; 
margin:0px;
color: White;
background: #3D6B33;
background-color: #3D6B33 ;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-topleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:3px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:3px; /* Firefox 3.6 and earlier */
}

.NumLinks {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	line-height : 18px;
	color : #3D6B33;
	font-weight: normal;
}

.NumLinksCurrent {font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	line-height : 18px;
	color : White;
	font-weight: normal;
}

 .list {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 14px;
	color : black;
	font-weight: normal;
}

A.list {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 14px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
}
A.list:Hover {
	color : black;
	text-decoration : none;
}
.small {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 11px;
	color : black;
	font-weight: normal;
}

A.small {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 11px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
}
A.small:Hover {
	color : black;
	text-decoration : none;
}


.comments{
	font-family : Verdana, Arial, san-serif;
	font-size : 10px;
	color :gray;
	font-weight: 600;
	line-height: 15px;
	text-decoration : none;
}
.comments A{
	font-family :  Verdana, Arial, san-serif;
	font-size : 10px;
	color : #336699;
    font-weight: 600;
	line-height: 15px;
	text-decoration : none ;
}
.comments A:Hover{
	color : #990033;
	text-decoration : none;
}

.copyright {
      font-family : Arial, sans-serif;
    color: #445544;
    font-weight: 400;
    line-height: 13px;
    font-size : 8px;
}

#nav, #nav ul { /* all lists */
	margin: 0;
	list-style: none;
	line-height: 0;
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-weight: 300;
	font-family: arial,sans-serif;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
}

#nav a {
	display: block;
	width: 105px;
	
}

#nav li { /* all list items */
		
		float: left;
	width: 105px; /* width needed or else Opera goes nuts */
}

#nav li ul { /* second-level lists */
	background-color: #fdfdfd;
	position: absolute;
	border: 1px 1px 1px  1px;
	margin: 0px 0px 0px  0px;
	width: 105px;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li ul ul { /* third-and-above-level lists */
	margin: -18px 0px 110px  80px;
	
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em; 
} 

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto; }

#content {
	font-size : 10px;
	clear: left;
	color: #404827;
}

.AncetryMale
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 5px 5px 10px lightblue;
margin:0px;
background:white;
background-color: white ;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}

.AncetryFemale
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 5px 5px 10px Pink;
margin:0px;
background:white;
background-color: white ;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}



.roundedtopandbottomgreen
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 5px 5px 10px #638562;
margin:0px;
background: #065906;
background-color: #065906;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}



.roundedtop
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 5px 5px 10px #ababab;
background-color: white;
margin:0px;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
}

.roundedBottom{
border-bottom:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
margin-top:0px;
 margin-bottom:10px;
 margin-right:0px;
 margin-left:0px;
padding:5px 10px; 
background:white;
box-shadow: 5px 5px 10px #ababab;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}

.tabBottomOff
{
border-bottom:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
margin-top:0px;
 margin-bottom:10px;
 margin-right:0px;
 margin-left:0px;
padding:5px 10px; 
background:white;
box-shadow: 5px 5px 10px #ababab;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}

.tabBottomOn
{
border-bottom:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
margin-top:0px;
 margin-bottom:10px;
 margin-right:0px;
 margin-left:0px;
padding:2px 2px; 
background:#065906;
box-shadow: 5px 5px 10px #ababab;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}

.tabtopoff
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:2px 2px; 
box-shadow: 5px 5px 10px #ababab;
background-color: #065906 ;
margin:0px;
background:white;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
}

.tabtopoff2{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:4px 4px; 
box-shadow: 8px 8px 10px #ababab;
background-color: #065906 ;
margin:0px;
background:white;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
}

.tabtopon2
{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:8px 8px; 
box-shadow: 5px 5px 10px #ababab;
background-color: #065906 ;
margin:0px;
background:#065906;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
}

.tabtopon{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:4px 4px; 
box-shadow: 5px 5px 10px #ababab;
background-color: #065906 ;
margin:0px;
background: #065906;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
}

	.tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 15px 15px; 
			-moz-border-radius: 15px; 
			-webkit-border-radius: 15px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
			-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
			-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 9em; top: 3em; z-index: 99;
			margin-left: 0; width: 250px;
		}
		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
			box-shadow: 5px 5px 5px #bababa; 
			-webkit-box-shadow: 5px 5px #bababa; 
			-moz-box-shadow: 5px 5px #bababa;
		}
		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		
	#Transparentable {
    width: 100%;
    background-color: #D8F0DA;
    border: 1px;
    min-width: 100%;
    position: relative;
    opacity: 0.97;
    background: transparent;
}
	
		
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: white; border: 1px solid #eeeeee; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: white; text-align: left; border: 1px solid #eeeeee; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.pageroundedtop{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 0px 0px 0px #ababab;
background-color: white ;
margin:0px;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}	

.greenroundedtop{
border-top:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
padding:5px 10px; 
box-shadow: 0px 0px 0px #ababab;
background-color: #638562;
color: White;
font-size: 24;
margin:10px;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}	

.Pictures{
border-bottom:1px solid #a1a1a1;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
margin-top:0px;
 margin-bottom:10px;
 margin-right:0px;
 margin-left:0px;
padding:5px 10px;
border-top-left-radius:15px;
border-top-right-radius:15px;
-moz-border-radius-topleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-topright:15px; /* Firefox 3.6 and earlier */ 
box-shadow: 5px 5px 10px #ababab;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-moz-border-radius-bottomleft:15px; /* Firefox 3.6 and earlier */
-moz-border-radius-bottomright:15px; /* Firefox 3.6 and earlier */
}	

.shoes {
	background-color: white;
	border: 1px solid pink;
	font-size: 1px;
	font-weight: bold;
	padding: 0px 0px;
	height: 1px;
	Width: 1px;
	color: white;
}


.TAGLBTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/taglbtABOff.png') bottom;
	text-indent: -99999px;
}
.TAGLBTabLink:hover {
	background-position: 0 0;
}

.TAGTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/TAGTaboff.png') bottom;
	text-indent: -99999px;
}
.TAGTabLink:hover {
	background-position: 0 0;
}


.AITabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/AITaboff.png') bottom;
	text-indent: -99999px;
}
.AITabLink:hover {
	background-position: 0 0;
}

.LOATabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LOATaboff.png') bottom;
	text-indent: -99999px;
}
.LOATabLink:hover {
	background-position: 0 0;
}

.LOTWTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LOTWTaboff.png') bottom;
	text-indent: -99999px;
}
.LOTWTabLink:hover {
	background-position: 0 0;
}



.BazaarTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LHBTaboff.png') bottom;
	text-indent: -99999px;
}
.BazaarTabLink:hover {
	background-position: 0 0;
}

.BrokeringTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LBWTaboff.png') bottom;
	text-indent: -99999px;
}
.BrokeringTabLink:hover {
	background-position: 0 0;
}



.LOCTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LOCTaboff.png') bottom;
	text-indent: -99999px;
}
.LOCTabLink:hover {
	background-position: 0 0;
}


.LOTWWDTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.com/images/LOTWWDTaboff.png') bottom;
	text-indent: -99999px;
}
.LOTWWDTabLink:hover {
	background-position: 0 0;
}

.ABTabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.comimages/ABTaboff.png') bottom;
	text-indent: -99999px;
}
.ABTabLink:hover {
	background-position: 0 0;
}

.IBATabLink {
	display: block;
	width: 167px;
	height: 39px;
	background: url('http://www.LivestockOftheworld.comimages/IBATaboff.png') bottom;
	text-indent: -99999px;
}
.IBATabLink:hover {
	background-position: 0 0;
}




.signupbackground{
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #abacab;
background: -webkit-linear-gradient(white, #FBFCF8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #FBFCF8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #FBFCF8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #FBFCF8); /* Standard syntax */
}



.signuptext {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 15px;
	margin:0;
	padding:0;
	color : Black;
	font-weight: 400;
	text-align: left;
	text-decoration :none;
}
A.signuptext {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 15px;
	margin:0;
	padding:0;
	color : #638562;
	font-weight: bold;
	text-decoration :none;
}
A.signuptext:Hover {
	color : black ;
	text-decoration : none;
}


div.background {
    background: url("/images/WorldHeaderParade.png") repeat;
    border: 0px solid black;

}




div.transbox 
{
    width = 130;
    height = 174;
    margin: 0px;
    background-color: #A32715;
    border: 0px solid black;
    opacity: 0.8;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox p {
    margin: 0%;
    font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: Black;
}


div.transbox2 
{   width = 130;
    height = 274;
    margin: 0px;
    background-color: darkgreen;
    border: 0px solid black;
    opacity: 0.8;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox2 p {
    margin: 0%;
    font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: Black;
}



div.transbox3 
{   width = 130;
    height = 174;
    margin: 0px;
    background-color: #3393B8;
    border: 0px solid black;
    opacity: 0.8;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox3 p {
    margin: 0%;
    font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: Black;
}


div.transbox4 
{
    width = 130;
    height = 174;
    margin: 0px;
    background-color: #EFAE15;
    border: 0px solid black;
    opacity: 0.8;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox4 p {
    margin: 0%;
    font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: Black;
}