body {
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}


.topwebheader {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: white;
    font-weight: normal;
    text-align: left;
}

A.topwebheader {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: white;
    font-weight: normal;
    text-align: left;
}

    A.topwebheader:Hover {
        color: #EFAE15;
        text-decoration: none;
    }