body {
    */background-image:url(http://www.livestockofamerica.com/images/LOASunrisebackground.jpg);
    */background-size:1900px 900px;
    */background-color:#f9f6ee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position: top
}

#grad1 {
    height: 70px;
    background-color: #4a1c00;
    background-image: linear-gradient(#4a1c00,#4a1c00)
}

ul {
    padding: 0 0 0 10px;
    border: 0 0 0 10px;
    margin: 0 0 0 10px;
    list-style: square
}

li {
    padding: 0 0 0 15px;
    border: 0 0 0 15px;
    margin: 0 0 0 15px
}

P {
    padding: 0 0 5px 5px;
    margin: 0
}

A {
    text-decoration: none;
    color: #00A
}

    A:HOVER {
        text-decoration: none;
        color: #333
    }

hr {
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b7d0e2
}

H1 {
    font-family: garamond,Times New Roman,Times,Serif;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    font-weight: 300;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: left
}

H12:after {
    content: ' ';
    display: block;
    border: 1px solid #000
}

H2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 20px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-decoration: none;
    text-align: left
}

H3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 4px;
    text-decoration: none
}

.dropdown {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 400
}

A.dropdown {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    text-decoration: none
}

    A.dropdown:Hover {
        color: #000;
        text-decoration: none
    }

.menu {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #D59200;
    font-weight: 400;
    font-weight: 400;
    vertical-align: top
}

A.menu {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #D59200;
    font-weight: 400;
    text-decoration: none;
    text-decoration: italics;
    vertical-align: top
}

    A.menu:Hover {
        color: #000;
        text-decoration: none
    }

.menu2 {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 0
}

A.menu2 {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 0
}

    A.menu2:Hover {
        color: #FC3;
        text-decoration: none
    }

.menutop {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: gray;
    margin: 0;
    padding: 0;
    font-weight: 400
}

A.menutop {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

    A.menutop:Hover {
        color: #DD441C;
        text-decoration: none
    }

.footer {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: #f9f6ee;
    font-weight: 400
}

A.footer {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: #f9f6ee;
    font-weight: 600;
    text-decoration: none
}

    A.footer:Hover {
        color: #D37F1C;
        text-decoration: none
    }

.nav1 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    text-align: left
}

A.nav1 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

    A.nav1:Hover {
        color: #A32715;
        text-decoration: none
    }

.nav2 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    text-align: left
}

A.nav2 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

    A.nav2:Hover {
        color: Orange;
        text-decoration: none
    }

.navBlack {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    text-align: left
}

A.navBlack {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: 600;
    text-decoration: none
}

    A.navBlack:Hover {
        color: #e6e6e6;
        text-decoration: none
    }

.navwhiteblack {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    text-align: left
}

A.navwhiteblack {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

    A.navwhiteblack:Hover {
        color: #000;
        text-decoration: none
    }

.body {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    text-align: left
}

A.body {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    text-decoration: underline
}

    A.body:Hover {
        color: #065906;
        text-decoration: none;
        text-decoration: underline
    }

.whitebody {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    text-align: left
}

A.whitebody {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    text-decoration: none
}

    A.whitebody:Hover {
        color: #abacab;
        text-decoration: none
    }

.homebody {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #000;
    font-weight: 400;
    text-align: left
}

A.homebody {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #065906;
    font-weight: 400;
    text-decoration: none
}

    A.homebody:Hover {
        color: #000;
        text-decoration: none
    }

.body2 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 400
}

A.body2 {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #D37F1C;
    font-weight: 600;
    text-decoration: none
}

    A.body2:Hover {
        color: #000;
        text-decoration: none
    }

.bodyDetails {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 400
}

A.bodyDetails {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #D37F1C;
    font-weight: 600;
    text-decoration: none
}

    A.bodyDetails:Hover {
        color: #000;
        text-decoration: none
    }

.regsubmit2 {
    background-color: #865e49;
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 18px
}

.formbox {
    border-top: 1px solid #686c6d;
    border-left: 1px solid #686c6d;
    border-right: 1px solid #686c6d;
    border-bottom: 1px solid #686c6d;
    padding: 5px 10px;
    margin: 0;
    background: #fff;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.formbox2 {
    border-top: 1px solid #686c6d;
    border-left: 1px solid #686c6d;
    border-right: 1px solid #686c6d;
    border-bottom: 1px solid #686c6d;
    padding: 5px 5px 5px 10px;
    margin: 0;
    line-height: 40px;
    ont-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    background: #fff;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.formnumbers {
    border-top: 1px solid #686c6d;
    border-left: 1px solid #686c6d;
    border-right: 1px solid #686c6d;
    border-bottom: 1px solid #686c6d;
    padding: 3px;
    margin: 0;
    background: #fff;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.formnumbers2 {
    border-top: 1px solid #686c6d;
    border-left: 1px solid #686c6d;
    border-right: 1px solid #686c6d;
    border-bottom: 1px solid #686c6d;
    padding: 5px;
    margin: 0;
    background: #fff;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.Pagebox {
    border-top: 1px solid #314159;
    border-left: 1px solid #314159;
    border-right: 1px solid #314159;
    border-bottom: 1px solid #314159;
    padding: 5px 10px;
    margin: 0;
    background: #fff;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.PageboxCurrent {
    border-top: 1px solid #314159;
    border-left: 1px solid #314159;
    border-right: 1px solid #314159;
    border-bottom: 1px solid #314159;
    padding: 5px 10px;
    margin: 0;
    color: #fff;
    background: #3D6B33;
    background-color: #3D6B33;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.NumLinks {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #3D6B33;
    font-weight: 400
}

.NumLinksCurrent {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 400
}

.list {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #000;
    font-weight: 400
}

A.list {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #369;
    font-weight: 400;
    text-decoration: none
}

    A.list:Hover {
        color: #000;
        text-decoration: none
    }

.small {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #000;
    font-weight: 400
}

A.small {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #369;
    font-weight: 400;
    text-decoration: none
}

    A.small:Hover {
        color: #000;
        text-decoration: none
    }

.smallwhite {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #fff;
    font-weight: 400
}

A.smallwhite {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #fff;
    font-weight: 400;
    text-decoration: none
}

    A.smallwhite:Hover {
        color: #abacab;
        text-decoration: none
    }

.copyright {
    font-family: Arial,sans-serif;
    color: #454;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px
}

#nav, #nav ul {
    margin: 0;
    list-style: none;
    line-height: 0;
    text-align: left;
    padding: 0;
    font-weight: 300;
    font-family: arial,sans-serif;
    font-family: Arial,Verdana,Geneva,Helvetica,sans-serif
}

    #nav a {
        display: block;
        width: 105px
    }

    #nav li {
        float: left;
        width: 105px
    }

        #nav li ul {
            background-color: #fdfdfd;
            position: absolute;
            border: 1px 1px 1px 1px;
            margin: 0;
            width: 105px;
            left: -999em
        }

            #nav li ul ul {
                margin: -18px 0 110px 80px
            }

        #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
            left: -999em
        }

        #nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
            left: auto
        }

#content {
    font-size: 10px;
    clear: left;
    color: #404827
}

.Pictures {
    border-bottom: 1px solid #a1a1a1;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    padding: 5px 10px;
    box-shadow: 5px 5px 10px #ababab;
    color: #fff;
    text-align: center;
    margin: 0
}

.shoes {
    background-color: #fff;
    border: 1px solid #ffc0cb;
    font-size: 1px;
    font-weight: 700;
    padding: 0;
    height: 1px;
    width: 1px;
    color: #fff
}
