<td class = "body" valign = "top" width = "120"><table width = "115"  border = "0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"  cellpadding=0 cellspacing=0>
		
		<tr>
			<td class = "body" bgcolor = "tan" height = "19">&nbsp;Your Alpacas</td>
		</tr>
		<tr>
			<td class = "body" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "AddAnAlpaca.asp" class= "menu3" >Add An Alpaca</a></td>
		</tr>
		<tr>
			<td class = "menu3" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "DeleteAnAlpaca.asp" class= "menu3"  >Remove an Alpaca</a><br></td>
		</tr>
		<tr>
			<td class = "menu3" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "EditAlpaca.asp" class= "menu3"  >Edit an Alpaca</a><br></td>
		</tr>
		
		
		<tr>
			<td class = "menu3" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "ChangePassword.asp" class= "menu3" >Change Password</a></td>
		</tr>
		<% If showonmenu=True Then %>
			<tr>
			<td class = "menu3" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "EditSEO.asp" class= "menu3" >Edit MetaTags</a></td>
		</tr>
		<tr>
			<td class = "menu3" height = "19" bgcolor="antiquewhite">&nbsp;&nbsp;<a href = "EditPage.asp" class= "menu3" >Edit Pages</a></td>
		</tr>
		<% End If %>
		</table>




</td>
