
body{background-color : white;
background-image : url(/test/images/Background.jpg);
}


.hombackground{
	background-image : url(/preview/images/homebackground.jpg);
	background-repeat : repeat-x;
	background-color : #bad19c;
}


p
{ 
text-indent: 20px
}


.footer{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 16px;
	color : black;
	text-decoration :none;
}

.footer A{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color :black;
	line-height : 16px;
	text-decoration : none;
	font-weight: 300;
}

.footer A:Hover{
	color : green;
	text-decoration : none;
}


.Redbody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 16px;
	color : Red;
	font-weight: normal;
}

.Graybody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 16px;
	color : Gray;
	font-weight: normal;
}


.body {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 16px;
	color : pink;
	font-weight: normal;
}

A.body {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 16px;
	color : #224f1c;
	font-weight: 600;
	text-decoration :none;
}
A.body:Hover {
	color : black;
	text-decoration : none;
}

.list {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 14px;
	color : black;
	font-weight: normal;
}

A.list {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 14px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
}


A.list:Hover {
	color : black;
	text-decoration : none;
}

.small {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 10px;
	color : black;
	font-weight: normal;
}

A.small {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 10px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
}
A.small:Hover {
	color : black;
	text-decoration : none;
}

.search {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 14px;
	color : black;
	font-weight: normal;
}

A.searchl {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 10px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
}
A.search:Hover {
	color : black;
	text-decoration : none;
}



.smallbody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	line-height : 16px;
	color : black;
	font-weight: normal;
		margin-left: 3px;;
}

A.smallbody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	line-height : 16px;
	color : #336699;
	font-weight: 400;
	text-decoration :none;
	margin-left: 0px;;
}
A.smallbody:Hover {
	color : black;
	text-decoration : none;
}


.Homebody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 16px;
	color : #dddddd;
		font-weight: normal;

}

A.Homebody {font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 16px;
	color : white;
		font-weight: 600;
	text-decoration :none;
}
A.Homebody:Hover {
	color : #dddddd;
	text-decoration : none;
}

.tabs {font-family :  Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 16px;
	color : Black;
	font-weight: normal;
}

A.tabs {font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 16px;
	color : Black;
	font-weight: 600;
	text-decoration :none;
}
A.tabs:Hover {
	color :brown;
	font-weight: 600;
	text-decoration : none;
}


A.tabs2 {font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : 16px;
	color : white;
	font-weight: 600;
	text-decoration :none;
}
A.tabs2:Hover {
	color :#f2dba3;
	font-weight: 600;
	text-decoration : none;
}


#nav {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	LINE-HEIGHT: 1; 
	PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none
}
#nav UL {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	MARGIN-top: 0px; 
	LINE-HEIGHT: 1; 
	PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none
}
#nav A {
	DISPLAY: block; WIDTH: 160;
}
#nav LI {
	FLOAT: left; WIDTH: 160;
	PADDING-LEFT: 5px; 
	
}
#nav LI UL {
	BACKGROUND: #990000; 
	LEFT: -999em; 
	WIDTH: 10em; 
	POSITION: absolute;
	border : 1px solid #660000;

}
#nav LI:hover UL {
	LEFT: auto
}
#nav LI.sfhover UL {
	LEFT: auto
}
#content {
	CLEAR: left; COLOR: #ccc
}



.copyright{
	font-family : Geneva, Verdana,  Arial, Helvetica, sans-serif;
	font-size : 9px;
	color : black;
}


.SideMenu{
	font-family :  verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: black;
	font-weight: 400;
	line-height : 19px;
	text-decoration : none;
	margin-left: 0px;;
	margin-right: 0px;
}
A.Sidemenu {
	font-family : Arial, sans-serif;
	 font-size: 12px;
	font-weight: 500;
	text-decoration : none;
	color: #323232;
	 line-height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0;
}

A.Sidemenu:HOVER {
	text-decoration: underline;
	color: black;
}

.Menu{
	font-family :  verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	color: black;
	font-weight: 400;
	line-height : 19px;
	text-decoration : none;
	margin-left: 0px;;
	margin-right: 0px;
}
A.menu {
	font-family : Arial, sans-serif;
	 font-size: 13px;
	font-weight: 500;
	text-decoration : none;
	color: black;
	 line-height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0;
}

A.menu:HOVER {
	text-decoration: none;
	color: #f6f9f2;
}

.Menu2{
	font-family :  verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: black;
	font-weight: 400;
	line-height : 19px;
	text-decoration : none;
	margin-left: 0px;;
	margin-right: 0px;
}

A.menu2 {
	font-family :  verdana, Arial, Helvetica, sans-serif;
	 font-size: 11px;
	font-weight: 600;
	text-decoration : none;
	color: black;
	 line-height: 23px;
	padding: 0px 0px 0px 0px;
	margin: 0;
}

.menu2:HOVER {
	text-decoration: none;
	color: #f6f9f2;
}



.textblock{
	border : 1px dotted #A35101;
}
H1{
	font-family : verdana, Arial, Helvetica, sans-serif;
	font-size : 21px;
	color: black;
	line-height : 22px;
	font-weight : 300;
	margin-left: 4px;
	margin-bottom: 0px;
		margin-top: 0px;
	text-align: left ;
}

H2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : black;
	line-height : 18px;
	font-weight : 500;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-decoration : none;
}

H3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : black;
	line-height : 16px;
	font-weight : 400;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 4px;
	text-decoration : none;
}




p{	margin-top: 5 px;
	margin-bottom: 5 px;
	margin-left: 20 px;
	margin-right: 20 px;
	
}
.Details{font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 0 px;
	margin-bottom: 0 px;
	margin-left: 5 px;
	font-size : 10px;
	line-height : 14px;
	color : #333333;
	font-weight: 500;
}

.link{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 16px;
	color : #680000;
	font-weight: normal;

}
A.link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 16px;
	color : #CC3333;
	font-weight: normal;
	text-decoration : underline;
	
}
A.link:Hover{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	line-height : 16px;
	color : #E8BC70;
	text-decoration : none;
	
}


